* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#stage_1 {
    background-color: #036c7a;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stage_2 {
    background: #ffffff;
    width: 580px;
    height: 280px;
}

#first {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

#first h1 {
    color: #333333;

}

#second {
    height: 190px;
    display: flex;
}

#third {
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#third button {
    height: 26px;
    width: 138px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    background: #0e7eaa;
    color: #f1f1f1;
}

#third button:hover {
    background: #07729c;

}

#img {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#details {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#details h2 {
    font-size: 22px;
    line-height: 35px;
    color: #333333;

}

.more-details {
    font-size: 20px;
    line-height: 20px;
    color: #4e4949;

}